@CHARSET "ISO-8859-1";

/* Personalizar */
.leftDiv {
	float: left !important;
	box-sizing: border-box !important;
	color: #333 !important;
	floatleftfont-family: "Helvetica Neue", Helvetica, Arial, sans-seri
		!important;
	font-size: 14px !important;
	height: 65px !important;
	line-height: 20px !important;
	min-height: 1px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	position: relative !important;
	width: 25% !important;
	box-sizing: border-box !important;
}

/* Personalizar */
.leftLabel {
	color: #0078D2 !important;
	font-family: "BBVA Web Light", Arial, sans-serif !important;
	font-size: 19.25px !important;
	font-weight: 100 !important;
	line-height: 21.1833px !important;
	margin-bottom: 10px !important;
	margin-top: 0px !important;
}

/* Personalizar */
.rigthDiv {
	box-sizing: border-box !important;
	color: #333 !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px !important;
	height: 100% !important;
	line-height: 20px !important;
	min-height: 1px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	padding-top: 6px !important;
	position: relative !important;
	width: 75% !important;
	float: left !important;
	position: relative !important;
}

/* para los botones del personalizar */
selectOneButton.ui-state-active {
	color: #005098 !important;
	cursor: pointer;
	font-family: "BBVA Web Medium", arial, sans-serif !important;
	font-weight: bold !important;
	font-size: 15px;
	line-height: 13px;
	text-align: center;
	width: 50% !important;
	height: 100% !important;
	text-align: center !important;
	background-color: transparent !important;
	background-image: linear-gradient(#FFF 40%, #D2E5EB 200%) !important;
	border-color: #D2E5EB !important;
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px !important;
	box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px 0px inset !important;
	cursor: pointer !important;
	outline-color: #0078D2 !important;
	z-index: 2 !important;
}

/* para los botones del personalizar */
selectOneButton.ui-corner-all {
	border-radius: 8px !important;
	float: left !important;
	width: 100% !important;
	max-width: 410px !important;
	height: 100% !important;
}

/* para los botones del personalizar */
selectOneButton.ui-state-default {
	color: #0078D2;
	background-color: transparent;
	background-image: linear-gradient(#FFF 40%, #D2E5EB 200%);
	background-repeat: repeat;
	border-color: #D2E5EB;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	cursor: pointer;
	font-family: "BBVA Web Medium", arial, sans-serif;
	font-size: 13.3px;
	font-weight: bold !important;
	height: 100% !important;
	line-height: 13px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 50%;
	background-color: transparent;
}

/* para los botones del personalizar */
selectOneButton.button-text-only {
	font-size: 13px;
	margin-top: -5px !important;
}

/* para los botones del personalizar */
selectOneButton.ui-button {
	background-color: white !important;
	border-color: #cccccc !important;
}

/* el selectOneButton con boton */
.smallCombo {
	float: left !important;
	width: 75% !important;
	height: 42px !important;
}
/* el selectOneButton sin boton */
.bigCombo {
	float: left !important;
	width: 100% !important;
	height: 42px !important;
}

/* quita la linea blanca de arriba del boton y pone en el centro el texto */
button.ui-state-default {
	box-shadow: 0px 1px 0px #0079C1 inset !important;
	text-align: center !important;
}

.table-ui-button {
	border-color: #E5E5E5 !important;
	background: none repeat scroll 0% 0% #F3F5F7 !important;
	font: 12px/24px "BBVA Web Medium", arial, sans-serif !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	background: #e0f6fc !important;
}

.ui-datatable-odd {
	background: #ffffff !important;
}

td.ui-datatable-subtable-header:empty {
	display: none
}

/* Para que la tabla cambie de color hover */
tr:hover {
	background: none repeat scroll 0% 0% #E0F6FC !important;
}

/* borde de las tablas hover */
tr.ui-state-hover {
	box-shadow: 0px 0px 8px #FFF, 0px 1px 0px #FFF inset !important;
}

.table.ui-widget {
	width: 100%;
	margin-left: 25px !important;
}

.ui-radiobutton-icon {
	margin-right: 1px !important;
	margin-left: 0px !important;
}

.ui-selectoneradio label {
	margin-top: -4px !important;
	margin-left: -13px !important;
}

/* para la cabecera del dialog */
.ui-dialog-titlebar {
	visibility: hidden !important;
}

/* para el label del dialogo recovery */
.fontLabel {
	color: #71777F !important;
	font-family: "Arial" !important;
	font-size: 11.9px !important;
	font-weight: 400 !important;
	line-height: 17px !important;
}

/* para el label conditions dialog recovery */
.conditionsLabel {
	font-family: "Arial" !important;
	font-size: 11.9px !important;
	padding-top: 0px;
	padding-bottom: 24px;
	border-bottom: 1px solid #D5E2EE;
	width: 100%;
}

/* para el input del dialogo recovery */
.fontInput {
	padding-left: 10px;
	padding-right: 10px;
	float: none;
	position: relative;
	display: table;
	border-collapse: separate;
}

/* para el check Button del dialog recovery */
.checkInput {
	display: none !important;
}

/* para el boton next del dialog */
.nextButton {
	border-bottom-left-radius: 4px !important;
	border-top-left-radius: 4px !important;
	border-bottom-right-radius: 6px !important;
	border-top-right-radius: 4px !important;
	font-weight: 400 !important;
	line-height: 0px !important;
	padding: 6px 0px !important;
	position: relative !important;
	text-shadow: none !important;
	margin: 11% 2% -11% 0px !important;
	border-color: 1px solid #00559D !important;
	vertical-align: text-top !important;
	font-size: 100% !important;
	background: linear-gradient(to bottom, #0079C1 0%, #00559D 100%) repeat
		scroll 0% 0% transparent !important;
}

/* sombra del input, color y estilo de la letra */
input.ui-inputfield {
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16) inset !important;
	color: #999EA5 !important;
	font-weight: 400 !important;
}

/* borde del input, color y estilo de la letra */
input.ui-state-default {
	border-color: #DBDCDF !important;
	color: #999EA5 !important;
	font-weight: 400 !important;
}

/* estado cuando mouseover en el input */
input.ui-state-hover {
	border-color: #DBDCDF !important;
	font-weight: 400 !important;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16) inset !important;
	color: #999EA5 !important;
	background-color: #FFF !important;
}

/* estilos boton close dialog Check */
.closeButton {
	font-weight: 400 !important;
	text-shadow: none !important;
	font-size: 12px !important;
	padding: 7px 6.5px !important;
	border-radius: 4px !important;
	margin-bottom: -14% !important;
}

.margenContent {
	top: -20% !important;
	left: 22% !important;
}
.hide-column-names table thead tr {
    display: none;
}
.nonee{
	display: none;
}