@CHARSET "ISO-8859-1";

/* Personalizar*/
.leftDiv {
	float: left !important;
	box-sizing: border-box !important;
	color: #333 !important;
	floatleftfont-family: "Helvetica Neue", Helvetica, Arial, sans-seri
		!important;
	font-size: 14px !important;
	height: 65px !important;
	line-height: 20px !important;
	min-height: 1px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	position: relative !important;
	width: 25% !important;
	box-sizing: border-box !important;
}

/* Personalizar */
.leftLabel {
	color: #0078D2 !important;
	font-family: "BBVA Web Light", Arial, sans-serif !important;
	font-size: 16.8px !important;
	font-weight: 100 !important;
	line-height: 21.1833px !important;
	margin-bottom: 10px !important margin-top: 0px !important;
	width: 45% !important;
	display: inline-block !important;
}

/* Personalizar */
.rigthDiv {
	box-sizing: border-box !important;
	color: #333 !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px !important;
	height: 100% !important;
	line-height: 20px !important;
	min-height: 1px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	padding-top: 6px !important;
	position: relative !important;
	width: 55% !important;
	float: left !important;
	position: relative !important;
}

/* Personalizar para los botones del personalizar */
.yourStyleClass div.ui-state-default {
	color: #0078D2;
	background-color: transparent;
	background-image: linear-gradient(#FFF 40%, #D2E5EB 200%);
	background-repeat: repeat;
	border-color: #D2E5EB;
	cursor: pointer;
	font-size: 85% !important;
	line-height: 13px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 35% !important;
	background-color: transparent;
}

/* Personalizar para los botones del personalizar */
.yourStyleClass div.ui-state-active {
	color: #005098 !important;
	cursor: pointer;
	font-size: 85% !important;
	line-height: 13px;
	text-align: center;
	width: 35% !important;
	text-align: center !important;
	background-color: transparent !important;
	background-image: linear-gradient(#FFF 40%, #D2E5EB 200%) !important;
	border-color: #D2E5EB !important;
	box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px 0px inset !important;
	cursor: pointer !important;
	outline-color: #0078D2 !important;
	z-index: 2 !important;
}

/* Personalizar para los botones del personalizar */
.yourStyleClass div.ui-corner-all {
	border-radius: 8px !important;
	float: left !important;
	width: 100% !important;
	max-width: 410px !important;
	height: 100% !important;
	float: right !important;
	text-align: right;
}

/* Personalizar para los botones del personalizar */
.yourStyleClass div.button-text-only {
	font-size: 13px;
}

/* Personalizar el selectOneButton sin boton */
.bigCombo {
	height: 42px !important;
	width: 100% !important;
	float: left !important;
}

/* Personalizar para los botones del personalizar */
.yourStyleClass div.ui-button {
	background-color: white !important;
	border-color: #cccccc !important;
}

/* Personalizar botones save del personalizar */
.save {
	margin: 7px 0px 0px 0px !important;
	padding: 2px 0px !important;
	font-size: 12px !important;
}

/* Personalizar botones save del personalizar */
.saveAlias {
	margin: 0px 0px 0px 0px !important;
	padding: 2px 0px !important;
	font-size: 12px !important;
}

/*Response Personalizar*/
@media ( max-width : 389px) {
	.leftLabel {
		width: 100% !important;
		height: 25px !important;
	}
	.rigthDiv {
		width: 100% !important;
	}
	.smallCombo {
		width: 100% !important;
		height: 42px !important;
	}
	.bigCombo {
		width: 100% !important;
		height: 42px !important;
	}
}

/*Response Personalizar el selectOneButton con boton */
@media ( min-width : 769px) {
	.smallCombo {
		float: left !important;
		width: 100% !important;
		height: 42px !important;
	}
}

/*Response Personalizar el selectOneButton con boton*/
@media ( max-width : 768px) {
	.smallCombo {
		width: 100% !important;
		height: 42px !important;
		float: left !important;
	}
}

.responseAlias {
	width: 81%;
}

@media ( max-width : 400px) {
	.responseAlias {
		width: 100% !important;
	}
}

/*Response Personalizar*/
@media ( max-width : 615px) {
	.smallCombo {
		float: right !important;
		width: 100% !important;
		height: 42px !important;
	}
	.save {
		margin: 10px 0px 0px 0px !important;
		padding: 2px 0px !important;
		font-size: 12px !important;
	}
	.saveAlias {
		margin: 10px 0px 10px 0px !important;
		padding: 2px 0px !important;
		font-size: 12px !important;
	}
}

/* quita la linea blanca de arriba del boton y pone en el centro el texto */
button.ui-state-default {
	box-shadow: 0px 1px 0px #0079C1 inset !important;
	text-align: center !important;
}

.table-ui-button {
	border-color: #E5E5E5 !important;
	background: none repeat scroll 0% 0% #F3F5F7 !important;
	font: 12px/24px "BBVA Web Medium", arial, sans-serif !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	background: #e0f6fc !important;
}

.ui-datatable-odd {
	background: #ffffff !important;
}

td.ui-datatable-subtable-header:empty {
	display: none
}

/* Para que la tabla cambie de color hover */
tr:hover {
	background: none repeat scroll 0% 0% #E0F6FC !important;
}

.table-tabs table thead th {
	border-style: solid none solid solid !important;
	border-width: 1px 0px 1px 1px;
	border-color: #E5E5E5 -moz-use-text-color #E5E5E5 #E5E5E5;
}

.table-tabs {
	padding-bottom: 0px !important;
}

/* borde de las tablas hover */
tr.ui-state-hover {
	box-shadow: 0px 0px 8px #FFF, 0px 1px 0px #FFF inset !important;
}

.table.ui-widget {
	width: 100%;
	margin-left: 25px !important;
}

/*Radio Buttom Style*/

/*Radio buttom default*/
.ui-radiobutton-icon {
	margin-right: 1px !important;
	margin-left: 0px !important;
	margin-top: -2px !important;
}

/*Radio buttom default*/
.radioButtonT .ui-state-default, .radioBT .ui-state-default,
	.investRadio .ui-state-default {
	background: #FFF;
}

/*Radio buttom hover y active*/
.radioButtonT .ui-state-active, .radioBT .ui-state-active, .investRadio .ui-state-active,
	.radioButtonT .ui-state-hover, .radioBT .ui-state-hover, .investRadio .ui-state-hover
	{
	background: #FAFCFD;
	box-shadow: 0px 1px 1px 0px #888888;
	border: 1px solid #C5DBEC;
}

/*Radio buttom icon active*/
.radioButtonT .ui-state-active .ui-icon, .radioBT .ui-state-active .ui-icon,
	.investRadio .ui-state-active .ui-icon {
	background:
		url("/kqco_co_web/page/javax.faces.resource/images/ui-icons_4eb305_256x240.png?ln=primefaces-le-frog")
		repeat scroll -61px -110px/200px auto transparent !important;
}

/*Radio buttom icon hover*/
.radioButtonT .ui-state-hover .ui-icon, .radioBT .ui-state-hover .ui-icon,
	.investRadio .ui-state-hover .ui-icon {
	background:
		url("/kqco_co_web/page/javax.faces.resource/images/ui-icons_bbbbbb_256x240.png?ln=primefaces-black-tie")
		repeat scroll -61px -110px/200px auto transparent !important;
	opacity: 0.65;
}

/*icon de tablas*/
.styleColum .ui-icon-triangle-1-n {
	background-image: none !important;
}

/*icon de tablas*/
.styleColum .ui-icon {
	background-image: none !important;
}

.ui-selectoneradio label {
	margin-top: -4px !important;
	margin-left: -13px !important;
}

/* para el label del dialogo recovery */
.fontLabel {
	color: #71777F !important;
	font-family: "Arial" !important;
	font-size: 11.9px !important;
	font-weight: 400 !important;
	line-height: 17px !important;
}

/* para el label conditions dialog recovery */
.conditionsLabel {
	font-family: "Arial" !important;
	font-size: 11.9px !important;
	padding-top: 0px;
	padding-bottom: 3% !important;
	border-bottom: none !important;
}

/* para el input del dialogo recovery */
.fontInput {
	padding-left: 10px;
	padding-right: 10px;
	float: none;
	position: relative;
	display: table;
	border-collapse: separate;
}

/* para el check Button del dialog recovery */
.checkInput {
	display: none !important;
}

/* para el boton next del dialog */
.nextButton {
	border-radius: 4px 4px 6px !important;
	line-height: 0px !important;
	padding: 6px 0px !important;
	position: relative !important;
	vertical-align: text-top !important;
	font-size: 100% !important;
	font-weight: inherit !important;
	text-shadow: inherit !important;
	padding: 6px 2px !important;
	box-shadow: inherit !important;
	margin-top: 10.5% !important;
	border: 1px solid #00559D !important;
}

/* sombra del input, color y estilo de la letra */
input.ui-inputfield {
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16) inset !important;
	color: #999EA5 !important;
	font-weight: 400 !important;
}

/* borde del input, color y estilo de la letra */
input.ui-state-default {
	border-color: #DBDCDF !important;
	color: #999EA5 !important;
	font-weight: 400 !important;
}

.ui-autocomplete-input {
	width: 33% !important;
}
/* estado cuando mouseover en el input */
input.ui-state-hover {
	border-color: #DBDCDF !important;
	font-weight: 400 !important;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16) inset !important;
	color: #999EA5 !important;
	background-color: #FFF;
}

/* estilos boton close dialog Check */
.closeButton {
	font-weight: 400 !important;
	text-shadow: none !important;
	font-size: 12px !important;
	padding: 7px 6.5px !important;
	border-radius: 4px !important;
}
/* estilos para el boton del dialog de cancelar en response */
.cancelButton {
	font-weight: 400 !important;
	text-shadow: none !important;
	font-size: 14px !important;
	padding: 5px 1px !important;
	border-radius: 4px !important;
	margin: auto;
}

.margenContent {
	top: -20% !important;
	left: 22% !important;
}

/* separador para el dialog recover */
.separatorConditions {
	border-bottom: 1px solid #D5E2EE;
	display: inline-block;
	width: 100%;
}
/* el h2 del recoverPasswordBody del dialog  */
.h2Class {
	font-size: 16.1px !important;
	width: 104%;
	border-bottom: none !important;
}

.hide-column-names table thead tr {
	display: none;
}

.nonee {
	display: none !important;
}

.visiblee {
	display: inline-block !important;
}

/*Detalle del movimiento para el titulo información del movimiento*/
.array {
	display: block !important;
	padding: 0px !important;
	margin: 0px !important;
	border: 0px none !important;
	vertical-align: initial !important;
	position: initial !important;
	top: 0px !important;
}

/* Detalle de movimiento cabecera Utils (visible)*/
.ui-expanded-row-content .ui-widget-content .detail-row .ui-datatable thead th,
	.ui-datatable tbody td, .ui-datatable tfoot td {
	overflow: visible !important;
}

/* no borde bootom de atributos del detalle de movimiento*/
.no-border {
	border-bottom: none !important;
}

/*Detalle de movimiento position*/
.position {
	margin: -81px -5px -16px -16px !important;
}

.positionMove {
	margin: -91px -5px -16px -16px !important;
}

/*Detalle de movimiento position*/
.positionHeadMove {
	top: -108px !important;
	z-index: 1 !important;
}

/*Detalle de movimiento position*/
.positionHead {
	top: -98px !important;
	z-index: 1 !important;
}
/* width 100% */
.table-tabs table tbody tr.ui-expanded-row-content td {
	padding: 21px 0px 14px 15px !important;
}

/*Detalle de movimiento position*/
@media ( max-width : 768px ) {
	.table-tabs table tbody tr.ui-expanded-row-content td {
		padding: 21px 0px 14px 15px !important;
		display: block;
	}
	.position {
		margin: -101px -5px -16px -16px !important;
	}
	.positionMove {
		margin: -101px -5px -16px -16px !important;
	}
}

.align {
	width: 96% !important;
	float: left !important;
}

.shared {
	width: 46% !important;
	float: left !important;
}

/*leyenda de pendiente de detalle de quota en el body*/
.marginDetailQValue {
	margin-left: 30px !important;
}

/*Modo response de tablas*/
table thead tr th.smart-view {
	display: none !important;
}

/*Response de la tabla de movimientos*/
@media ( max-width : 769px ) {
	.shared {
		width: 96% !important;
		float: left !important;
	}
	.marginDetailQValue {
		margin-left: 0px !important;
	}
}

/* tipo de letra del detalle*/
.textSize {
	font-family: Arial !important;
	font-size: 12px !important;
	padding-top: 0px !important;
}

/* Estilo de columna */
.styleColum {
	font-size: 0.7em;
	color: #434A58;
	font-family: Arial;
	background: none;
	border-style: none;
	position: relative !important;
}

/*Estilos letra text columna*/
@media ( min-width : 769px ) {
	.styleLeft {
		font-size: 12px;
		font-weight: bold;
		color: #333;
		text-align: left;
	}
	.styleRigth {
		font-size: 12px;
		font-weight: bold;
		color: #333;
	}
	.normal {
		font-size: 12px;
		font-weight: bold;
		text-align: left;
	}
	/*Estilos letra currency columna*/
	.styleCurrent {
		font-size: 15px;
		color: #333
	}
}

@media ( max-width : 769px) {
	.styleLeft {
		font-size: 14px;
		font-weight: bold;
		color: #333;
		text-align: left;
	}
	.styleRigth {
		font-size: 14px;
		font-weight: bold;
		color: #333;
	}
	.normal {
		font-size: 14px;
		text-align: left;
	}
	/*Estilos letra currency columna*/
	.styleCurrent {
		font-size: 16px;
		color: #333
	}
}

/*alinear condiciones*/
.group {
	display: inline-block;
	width: 100%;
}

@media ( max-width : 768px) {
	.visible {
		display: none !important;
	}
}

.largeColumn {
	margin-bottom: -100px !important;
}

/* Response Menu Operations y condiciones*/
@media ( max-width : 769px) {
	/* margin cabecera de movimientos y condiciones*/
	.marginRow {
		margin: 0px 3% 3% 3%;
	}
	/* padding product-header de cabecera de movimientos*/
	.marginProduct {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.marginConRow {
		margin: 0px 0% 0% 0%;
	}
	.menuResponse {
		margin-left: 3% !important;
	}
}

.buttonDisabled {
	opacity: 0.65;
	pointer-events: none;
	box-shadow: none;
	cursor: not-allowed;
}

#imgLOAD {
	top: 20% !important;
	cursor: not-allowed;
}

/*Combos*/
.selectorCombo select {
	padding: 0.5px 0px 0.5px 1px !important;
	height: 31px;
	background: url("../img/selectCombo.png") no-repeat 98% white !important;
	display: inline-block !important;
	width: 100%;
	border-radius: 4px;
	text-align: left !important;
	vertical-align: middle !important;
	color: #0078D2 !important;
	font: 12px "BBVA Web Medium", Arial, sans-serif bold !important;
	border: 1px solid #D5E2EE;
	-webkit-appearance: none; /* Safari and Chrome */
	-moz-appearance: none; /* Firefox */
	-o-appearance: none;
}

.selectorCombo2 select {
	padding: 0.5px 0px 0.5px 1px !important;
	height: 31px;
	background: url("../img/selectCombo.png") no-repeat 98% white !important;
	width: 100%;
	border-radius: 4px;
	text-align: left !important;
	vertical-align: middle !important;
	color: #0078D2 !important;
	font: 12px "BBVA Web Medium", Arial, sans-serif bold !important;
	border: 1px solid #D5E2EE;
	-webkit-appearance: none; /* Safari and Chrome */
	-moz-appearance: none; /* Firefox */
	-o-appearance: none;
}

/*Combos*/
.selectorCombo select:hover {
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}

.selectorCombo2 select:hover {
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}

/*Combos*/
.selectorCombo select::-ms-expand {
	display: none;
}

.selectorCombo2 select::-ms-expand {
	display: none;
}

/*Combos*/
.selectorCombo select:focus {
	outline: none;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset !important;
}

.selectorCombo2 select:focus {
	outline: none;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset !important;
}

.selectorCombo select>option {
	padding: 6px 0px 5px 0.7em !important;
	width: 100%;
	background: none repeat scroll 0% 0% #FFF !important;
	z-index: 1000;
	outline: none;
	line-height: 4px !important;
	font: 12px "BBVA Web Medium", Arial, sans-serif bold !important;
	background: none repeat scroll 0% 0% #FFF !important;
}

.selectorCombo2 select>option {
	padding: 6px 0px 5px 0.7em !important;
	width: 100%;
	background: none repeat scroll 0% 0% #FFF !important;
	z-index: 1000;
	outline: none;
	line-height: 4px !important;
	font: 12px "BBVA Web Medium", Arial, sans-serif bold !important;
	background: none repeat scroll 0% 0% #FFF !important;
}

/*Combos Option*/
.selectOption {
	*padding: 6px 0px 5px 0.7em !important;
	background: none repeat scroll 0% 0% #FFF !important;
	color: #003F8D !important;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
	line-height: 4px !important;
	font: 12px "BBVA Web Medium", Arial, sans-serif bold !important;
}

.selectOptionDisabled {
	padding: 6px 0px 5px 0.7em !important;
	background: none repeat scroll 0% 0% #FFF !important;
	color: #bbe2ff !important;
	-ms-user-select: none;
	font: 12px "BBVA Web Medium", Arial, sans-serif bold !important;
}

/*talonarios tab*/
.divAlign {
	padding-left: 6px;
	padding-right: 6px;
	margin-top: 2px !important;
}

/*talonarios tab*/
.fontLabelT {
	font-size: 12.25px !important;
}

/*talonarios tab*/
.radioButtonT {
	width: 25px !important;
	float: left !important
}

/*talonarios tab*/
@media ( min-width : 769px) {
	.widthTalo {
		width: 60% !important;
		display: inline-block;
	}
}

/*talonarios tab*/
@media ( max-width : 769px) {
	.widthTalo {
		width: 100% !important;
		display: block;
	}
}

a.header.setStyle span.outStyle {
	background-image: url("../img/icon-smaller-tick.png") no-repeat 60%;
}

a.header.setStyle span.arrow-left-smaller {
	background-image: url("../img/icon-smaller-cross.png") !important;
}

/* input extractos*/
.extractInput {
	width: 90%;
	background-color: #DDDDDD !important;
	display: inline-block !important;
}

/*.ui-state-hover input*/
.extractEmail input.ui-state-hover {
	background-color: #DDDDDD !important;
}

/*.ui-state-focus input*/
.extractEmail input.ui-state-focus {
	background-color: #DDDDDD !important;
}

/* label extractos*/
.extractLabel {
	width: 10%;
	padding-left: 2px !important;
	display: inline-block !important;
}

/*button extracto*/
.extractButton {
	margin-top: 30px !important;
	font-weight: 400 !important;
}

/*Nav*/
.renderExtract {
	display: none;
}

/*Quitar la flecha negra de las tablas*/
.detail-table-body th {
	position: inherit;
}

/* color de letra negra */
.colorBlack {
	color: #333 !important;
}

/*button Extract*/
.extractDow {
	background-position: -3px !important;
	padding: 2px 6px !important;
	font-weight: 400 !important;
}

/*icon mensaje*/
.ui-button-text-icon-left .ui-icon {
	position: absolute;
	top: 25% !important;
	margin-top: 0px;
}

/*estilos para el growl*/

/* Mensaje de error extracto*/
body div.ui-growl {
	width: 500px !important;
	position: fixed !important;
	top: 250px !important;
	right: 40% !important;
}

.ui-growl-item {
	position: relative;
	background-color: #F7E9E9 !important;
	border: 13px solid #FFF;
	background-clip: padding-box;
	padding: 30px 30px 30px 16px !important;
	outline: 1px solid #DBDCDF;
	-moz-outline-radius: 6px;
}

/*container mensaje*/
.ui-growl-item-container {
	opacity: 1.0 !important;
	border: 1px solid #DBDCDC !important;
	background-color: #F4F7F5 !important;
	padding: 8px !important;
}

/*ui-state-highlight mensaje*/
body div.ui-growl .ui-state-highlight {
	border: none !important;
}

/*letra del mensaje*/
.ui-growl-message {
	padding: 6px 0px 7px;
	width: 350px;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 12px !important;
	text-align: center;
	font-weight: bold !important;
	color: #C4136C;
}

/*buttom close de growl y del dialog*/
.ui-growl-icon-close, .ui-dialog-titlebar-close {
	background-image: url("../img/icons/cross-desktop.png") !important;
	background-repeat: no-repeat;
	display: inline-block;
	width: 19px;
	height: 19px;
	vertical-align: middle;
	margin-top: 0;
	cursor: pointer;
	border: 0;
	opacity: 1;
	z-index: 1;
	display: block !important;
}

/*buttom close de growl y del dialog*/
.ui-icon-closethick {
	background-position: right;
}

/*buttom close de growl y del dialog*/
@media ( max-width : 768px) {
	.ui-growl-icon-close, .ui-dialog-titlebar-close {
		background: url("../img/close-icon-big-2.png") no-repeat !important;
		width: 30px !important;
		height: 30px !important;
	}
}

.ui-dialog-titlebar-close .ui-icon {
	background-image: none !important;
}

/*icon error de growl y del dialog*/
.ui-growl-image-error {
	background-image: url(../img/icons/alert-red.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin-top: 5%;
}

.ui-messages-error-icon {
	background: url(../img/icons/alert-red.png) no-repeat scroll 0% 0%
		transparent !important;
	background-position: 0px 0px;
	height: 36px;
	width: 39px;
	border-right: 1px #C4136C;
}

/*estilos para el dialog de error*/
.ui-dialog-content {
	position: relative !important;
	background: #F7E9E9 !important;
	background-clip: padding-box;
	word-wrap: break-word;
	border: 13px solid #FFF !important;
	border-top: 0px !important;
	border-bottom-left-radius: 16px !important;
	border-bottom-right-radius: 16px !important;
	color: #C4136C !important;
}

.nonClose .ui-dialog-content {
	background: #FFF !important;
	color: #000 !important;
	overflow: visible !important;
}

.mistakeMessage .ui-dialog-content {
	background: #FFF !important;
	border: 1px solid #DBDCDF !important;
	border-top: 0px !important;
	border-bottom-left-radius: 6px !important;
	border-bottom-right-radius: 6px !important;
}

/*Header*/
.ui-widget-header {
	background: #F7E9E9 !important;
	border: 13px solid #FFF !important;
	border-bottom: 0px !important;
	background-clip: padding-box;
	border-top-left-radius: 16px !important;
	border-top-right-radius: 16px !important;
	color: #C4136C !important;
}

.mistakeMessage .ui-widget-header {
	background: #FFF !important;
	border: 1px solid #DBDCDF !important;
	border-bottom: 0px !important;
	border-top-left-radius: 6px !important;
	border-top-right-radius: 6px !important;
}

.nonClose .ui-widget-header {
	background: #FFF !important;
	overflow: visible !important;
}

.fontBlue .ui-widget-header {
	color: #0078D2 !important;
	font-size: 20px !important;
	font-weight: 400 !important;
}

.fontBlueSmall {
	color: #0078D2 !important;
	font-size: 16px !important;
	font-weight: 400 !important;
}

/*container*/
.ui-message-dialog {
	width: 360px !important;
	position: fixed !important;
	top: 250px !important;
	left: 35% !important;
	border: 1px solid #DBDCDF !important;
	border-radius: 4px !important;
	outline: 10px solid #F4F7F5 !important;
	-moz-outline-radius: 13px 13px;
	box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.8);
}

.mistakeMessage .ui-message-dialog {
	border: 0px !important;
	border-radius: 0px !important;
	outline: 0px !important;
	-moz-outline-radius: 0px;
	box-shadow: none !important;
}

/*apariencia de input disabled*/
.form-control[disabled] {
	background-color: #EEE !important;
}

/*div que contiene balance los input width*/
@media ( min-width : 450px) and (max-width: 768px) {
	.control, .refaling {
		width: 77% !important;
		display: inherit;
		height: 40px;
	}

	/*espacio entre los dos balance´s*/
	.balance-filter-content div:nth-child(2) {
		margin-bottom: 15px;
	}
}

/*Separación de inputs balance*/
@media ( min-width : 768px) {
	/*Margin del label balance desde*/
	.balance-filter-content div[class*="col-"]:nth-child(2n+1) .form-group {
		margin-left: 5px;
		margin-right: 12px;
	}
	/*Margin del label balance hasta*/
	.balance-filter-content div [class*="col-"]:nth-child(2n) .form-group {
		margin-left: 7px;
		margin-right: 9px;
	}
}

/*width div balance*/
.refaling {
	width: 100%;
}

/*width div input balance*/
.refalingInput {
	background-image: url('../img/icons/dollar-blue.png ') !important;
	background-repeat: no-repeat !important;
	background-position: left 3% center !important;
	background-size: 8px 14px !important;
	width: 95%;
	padding: 3px !important;
	padding-left: 20px !important
}

/*margin de label para centrarlos balance*/
.balance-filter-content div [class*="col-"] .form-group label {
	margin: 11px 5px 5px 0px;
}

/*padding y tamaño del div principal balance*/
.consultas .panel-tab-body .filters>ul>li .balance-filter-content .form-balance
	{
	display: inline-block;
	width: 100%;
	padding: 0px;
}

/*class col- padding 0 balance*/
.balance-filter-content div[class*="col-"] {
	padding: 0px;
}

/*input disabled de calendar Criteria Date*/
.control input[disabled] {
	background-color: #EEE !important;
	opacity: 1.0 !important;
	cursor: not-allowed !important;
}

/*input de calendar Criteria Date*/
.control input {
	background-image: url("../img/icons/calendar-blue-small.png");
	background-repeat: no-repeat;
	background-position: right 10px center;
	width: 100%;
	height: 100%;
	padding: 4px !important;
}

/*form control*/
.control input.ui-state-focus {
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16) inset !important;
	background-color: #FFFFF5 !important;
	border: 1px solid #DDF4FC !important;
}

/*margin left radio Buttons Criteria Date*/
@media ( min-width : 769px) {
	.consultas .panel-tab-body .filters>ul>li .date-filter-content div.form-horizontal [class*="col-"]:nth-child(2n)
		{
		padding-left: 20px !important;
	}
}

/*margin bottom buttons date*/
@media ( max-width : 768px) {
	/*margin bottom para el elemento 5 del criteria fecha*/
	.consultas .panel-tab-body .filters .accordion li .date-filter-content .form-horizontal [class*="col-"]:nth-child(5)
		{
		margin-bottom: 24px !important;
	}

	/*margin bottom para los elementos 6 y 7 del criteria fecha*/
	.consultas .panel-tab-body .filters .accordion li .date-filter-content .form-horizontal [class*="col-"]:nth-child(6),
		.consultas .panel-tab-body .filters .accordion li .date-filter-content .form-horizontal [class*="col-"]:nth-child(7)
		{
		margin-bottom: 3px !important;
	}
	/*font y position de label de combos*/
	.radioLabel {
		cursor: pointer;
		padding-left: 10px;
		margin-bottom: 5px;
		font-size: 14px;
		font-weight: normal;
		font-family: Arial;
		color: #434A58;
	}
}

/*font y position de label de combos*/
.radioLabel {
	cursor: pointer;
	padding-left: 10px;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: normal;
	font-family: Arial;
	color: #434A58;
	font-weight: normal;
}

/*Estilos del calendario*/

/*Calendar cuerpo*/
.ui-datepicker {
	background-image: linear-gradient(#FEFEFE, #F6F8F9);
	width: 250px;
	height: auto;
	padding: 17px 15px 10px 15px;
	border: 1px solid #C4D7E5;
	-webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
	-moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}

/*Imagen de arriba del calendar*/
.ui-datepicker::before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid white;
	border-top: 0;
	border-bottom-color: white;
	position: absolute;
	top: -7px;
	right: 11px;
	z-index: 2;
}

/*Imagen de arriba del calendar*/
.ui-datepicker::after {
	content: '';
	display: inline-block;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #c4d7e5;
	border-top: 0;
	border-bottom-color: #c4d7e5;
	position: absolute;
	top: -8px;
	right: 10px;
	z-index: 1;
}

.ui-datepicker.ui-helper-clearfix::after {
	visibility: visible;
}

/*cabecera del calendario*/
.ui-datepicker .ui-datepicker-header {
	border: none !important;
	background: transparent !important;
	color: black !important;
	margin-bottom: 32px;
}

/*fuente del titulo del calendario*/
.ui-datepicker .ui-datepicker-title {
	text-align: center;
	padding-left: 5px;
	font-family: Arial;
	font-size: 12px;
	font-family: Arial;
}

/*fuente del calendario*/
.ui-datepicker table {
	font-size: 12px !important;
	font-family: Arial !important;
}

/*none table calendario*/
.ui-datepicker td a {
	background: none !important;
	border: none !important;
	border-radius: 3px;
	text-align: center !important;
}

/*td hover img*/
.ui-datepicker td .ui-state-hover {
	background-image: url("../img/day-hover.png") !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}

/*td active img*/
.ui-datepicker td .ui-state-active {
	background-image: url("../img/day-active.png") !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	color: #FFF !important;
}

/*th calendario*/
.ui-datepicker th {
	text-align: center !important;
	margin-left: 5px;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
}

/*tr hover none*/
.ui-datepicker tr:hover {
	background: none !important;
}

/*ui-icon prev*/
.ui-datepicker .ui-datepicker-prev {
	background: url("../img/sprite-widget-pag_left.png") no-repeat
		!important;
	background-position: 0px -80px !important;
}

/*hover ui-icon*/
.ui-datepicker .ui-datepicker-prev-hover {
	background-position: 0px 0px !important;
	border: none !important;
}

/*ui-icon next*/
.ui-datepicker .ui-datepicker-next {
	background: url("../img/sprite-widget-pag_right.png") no-repeat
		!important;
	background-position: 0px -80px !important;
}
/*hover ui-icon*/
.ui-datepicker .ui-datepicker-next-hover {
	background-position: 0px 0px !important;
	border: none !important;
}

/*Quitar el background del a*/
.ui-datepicker .ui-widget-header .ui-icon {
	background: none !important;
}
/*Quitar boton done*/
.ui-datepicker  .ui-datepicker-close {
	display: none;
}

/*Quitar borde*/
.ui-datepicker .ui-datepicker-buttonpane {
	border: none !important;
}

/*button today*/
.ui-datepicker .ui-datepicker-buttonpane button {
	background: url("../img/today-btn.png") no-repeat !important;
	background-position: 0px 0px !important;
	text-indent: -99999999px;
	width: 35px;
	height: 21px;
	border: none !important;
	top: 10;
	left: 10;
	box-shadow: none !important;
}

/*button today hover*/
.ui-datepicker .ui-datepicker-buttonpane button:hover {
	background-position: 0px -80px !important;
}

/*button today position*/
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	margin-right: 40%;
	float: right;
}

/*items deshabilitados*/
.ui-datepicker .ui-state-disabled span {
	background: none repeat scroll 0% 0% transparent !important;
	color: #8C8C8C !important;
	border: medium none !important;
	opacity: 1;
	text-align: center;
}

/*items others months*/
.ui-datepicker .ui-datepicker-other-month a {
	color: #3F3F3F !important;
	font-weight: bold !important;
}

@media ( min-width : 1065px) {
	/*dialog*/
	.mistakeMessage {
		top: 30% !important;
		left: 30% !important;
	}
}

@media ( min-width : 795px) and ( max-width : 1065px) {
	/*dialog*/
	.mistakeMessage {
		top: 30% !important;
		left: 20% !important;
	}
}

@media ( min-width : 678px) and ( max-width : 795px) {
	/*Error dialog*/
	.mistakeMessage {
		top: 30% !important;
		left: 15% !important;
	}
}

@media ( min-width : 610px) and ( max-width : 678px) {
	/*Error dialog*/
	.mistakeMessage {
		top: 30% !important;
		left: 7% !important;
	}
}

@media ( min-width : 550px) and ( max-width : 610px) {
	/*Error dialog*/
	.mistakeMessage {
		top: 30% !important;
		left: 4% !important;
	}
}

@media ( max-width : 550px) {
	/*Error dialog*/
	.mistakeMessage {
		top: 30% !important;
		left: 1% !important;
	}
}

.mistakeMessage {
	margin-left: -1%;
	margin-right: -1% !important;
	margin-top: -1.2% !important;
	position: fixed !important;
	max-width: 550px !important;
	height: auto !important;
	z-index: 1000 !important;
	background: #FFF !important;
	border: 13px solid #F4F7F5 !important;
	outline: 1px solid #DBDCDC !important;
	-moz-outline-radius: 6px;
	overflow: visible !important;
	border-radius: 6px !important;
	overflow: visible !important;
	height: auto !important;
}

.bodyError {
	background: #B3C5CF
		url("/showcase/javax.faces.resource/images/ui-bg_flat_0_2d5972_40x100.png.xhtml?ln=primefaces-aristo")
		50% 50% repeat-x !important;
}

/*none image Background*/
.backImaNo {
	background-image: none !important;
}

/*Letra pequeña*/
.fontSmall {
	font-size: 10px !important;
}

/*Icon rowToogle*/
.ui-datatable .ui-row-toggler {
	background-image: none !important;
}

/*Favoritos*/
/*Boton de editar*/
.n04-editar {
	background: #FFF url("../img/sprite-blue-x16.png") no-repeat -463px
		-1387px !important;
}
/*Boton de eliminar*/
.n05-eliminar {
	background: #FFF url("../img/sprite-blue-x16.png") no-repeat scroll
		-462px -1452px !important;
}
/*Boton de editar y eliminar*/
.button-edit, .button-delete {
	background: #FFF !important;
	padding: 2px 8px !important;
	border: 1px solid #00559D !important;
	margin: 0px !important;
	margin: -67px 0px 0px 9px !important;
}

/*Formulario de editar favoritos*/
.formEdFavoritos {
	background: #F7E9E9 !important;
	padding: 32px 0px 80px 0px;
}

.buttonsFina {
	padding: 25px 0px 54px 0px !important;
	border-top: 1px solid #A6C9E2;
}
/*Span de boton de editar y eliminar*/
@media ( min-width : 769px) {
	.editDele {
		position: relative;
		left: 80%;
	}
	.button-finishEdit {
		margin-left: 10% !important;
		padding: 0px 8px !important;
	}
	.button-finishFa {
		margin: 5% 0% !important;
		padding: 3px 30px 3px 30px !important;
	}
}

@media ( max-width : 768px) {
	.editDele {
		position: relative;
		left: 90%;
		margin-left: 3px !important;
	}
	.button-finishEdit {
		margin: 5% 0% !important;
		padding: 0px 10px !important;
	}
	.button-finishFa {
		margin: 5% 0% !important;
		padding: 12.5px 50px !important;
	}
}

.button-finishEdit {
	background: #0079C1
		-moz-linear-gradient(center top, #0079C1 0%, #00559D 100%) repeat
		scroll 0% 0% !important;
	color: #FFF !important;
	border: 1px solid #00559D !important;
	font-weight: 400 !important;
}

.panelText {
	overflow-x: auto !important;
	border: 0px !important;
	text-align: center !important;
}

.panelButtons {
	border: 0px !important;
	border-top: 1px solid #DBDCDF !important;
	overflow-x: auto !important;
	text-align: center !important;
}

.wizardR .ui-wizard-content {
	border-top: 1px solid #DBDCDF !important;
}

.closeNextbtn {
	float: none !important;
	background: #0079C1
		-moz-linear-gradient(center top, #0079C1 0%, #00559D 100%) repeat
		scroll 0% 0% !important;
	background: -webkit-linear-gradient(top, #0079C1 0%, #00559D 100%)
		repeat scroll 0% 0% !important;
	background: -ms-linear-gradient(top, #0079C1 0%, #00559D 100%) repeat
		scroll 0% 0% !important;
	border: 1px solid #00559D !important;
	border-radius: 4px !important;
	color: #FFF !important;
	vertical-align: middle;
	text-shadow: none !important;
	font: 12px/24px "BBVA Web Medium", Arial, sans-serif !important;
	padding: 5px 13px !important;
	font-weight: 400 !important;
}

.marginBuutonW {
	margin: 20px 0px 0px 30px !important;
}

.iconWizard {
	display: inline-block !important;
	width: 50px !important;
	height: 50px !important;
}

.infoConta {
	background: #DBDCDF !important;
	margin-top: 32px;
	margin-bottom: 25px;
}

.icon-Info-Blue {
	background-image: url("../img/icons/icon-info-blue-small.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
	margin-left: 3px;
	position: relative;
	top: 7px;
	width: 18px;
}

.buttonTable {
	width: auto;
	height: auto;
	position: absolute;
	top: 10px;
	right: 0px;
	top: 10px;
}

/*Combo like*/
.comboLike {
	width: auto;
	height: auto;
	position: absolute;
	top: 10px;
	right: 0px;
	top: 10px;
}

.comboLike .ui-selectonemenu {
	width: 100% !important;
	float: right !important;
	position: relative;
}

.comboLike .ui-selectonemenu.ui-state-default {
	border-radius: 0px;
	background: #FFF linear-gradient(to bottom, #FFF 0%, #EAF1F7 100%)
		repeat scroll 0% 0%;
	border: 1px solid #D5E2EE;
}

.comboLike .ui-selectonemenu {
	background: #F5F7F8 none repeat scroll 0% 0% !important;
}

.comboLike .ui-selectonemenu.open {
	border: 1px solid #D5E2EE !important;
}

.comboLike .ui-selectonemenu-label {
	background: transparent !important;
	box-shadow: none !important;
	padding: 11px 27px 8px 9px;
	width: 100% !important;
	font: 11px Arial !important;
	color: #0092DF;
}

.comboLike .ui-selectonemenu-label.open {
	border: 5px solid #FFF !important;
}

.comboLike .ui-selectonemenu .ui-selectonemenu-trigger {
	width: 20px;
	border: 0px none;
	background: transparent;
}

.comboLike .ui-selectonemenu-trigger.open {
	border-right: 5px solid #FFF !important;
}

.comboLike .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	background: transparent url("../img/quiero-plegado.png") no-repeat
		scroll left center;
	margin-top: 7px !important;
}

.comboLike .ui-selectonemenu .ui-selectonemenu-trigger.open .ui-icon {
	background: transparent url("../img/quiero-desplegado.png") no-repeat
		scroll left center !important;
}

/*Combo like options*/
.ui-selectonemenu-panel.comboItemsLike {
	border-style: none none none solid !important;
	border-width: 0px 0px 0px 1px !important;
	border-color: #D5E2EE !important;
	border-radius: 0px !important;
	box-shadow: none !important;
}

.comboItemsLike .ui-selectonemenu-items-wrapper {
	border-style: none solid solid none !important;
	border-width: 0px 1px 1px 0px !important;
	border-color: #D5E2EE !important;
	line-height: 4px !important;
	width: 260px !important;
	z-index: 1000;
}

.comboItemsLike .ui-selectonemenu-items-wrapper .ui-selectonemenu-items
	{
	background: #F5F7F8 none repeat scroll 0% 0% !important;
	padding: 0px !important;
	border: 5px solid #FFF;
	border-top: 0px !important;
}

.comboItemsLike .ui-selectonemenu-item {
	color: #0066BA !important;
	padding: 7px 14px;
	font-size: 0.85em !important;
	margin: 0px !important;
}

@media ( max-width : 769px) {
	.likeSame {
		display: block !important;
	}
}

.seeMore {
	font-size: 11px !important;
	color: #0078d2 !important;
	font-family: Arial !important;
	font-weight: bold !important
}

.conditionsData {
	float: right !important;
	min-width: 50% !important;
	display: inline-block;
	padding: 0px !important;
	margin-bottom: 10px !important;
	padding: 0px !important;
	height: 28px;
}

.likeDif {
	float: right;
	display: inline-block;
	border-right: 5px solid #FFF;
	border-left: 5px solid #FFF;
	height: 5px;
	background: #F5F7F8;
}

.likeBord {
	border-top: 1px solid #D5E2EE;
	float: left;
	display: inline-block;
	height: 5px;
}

.conditionsTitle {
	float: left !important;
	display: inline-block;
	margin-bottom: 10px !important;
	max-width: 50% !important;
	height: 28px;
}

@media ( max-width : 612px) {
	.conditionsTitle {
		height: 40px !important;
		word-break: break-all;
		overflow: hidden;
	}
	.conditionsData {
		height: 40px !important;
		word-break: break-all;
		overflow: hidden;
	}
}

#momentPlease .ui-dialog-titlebar-close {
	display: none !important;
}

#momentPlease .ui-dialog-content, #momentPlease.ui-widget-content,
	#momentPlease  .ui-widget-header, #momentPlease .ui-dialog-content {
	border: 0px !important;
	background: transparent !important;
}

#momentPlease.ui-shadow {
	box-shadow: none !important;
}

#mapDetail {
	width: 100%;
	height: 290px;
	border: 1px solid #d0d0d0;
	background-color: #e5e3df;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}

.columStyleHidden {
	padding: 14px !important;
	font-size: 10px;
	color: #434A58;
	border-style: solid none;
	font-family: Arial;
	background: none;
	border-radius: 4px;
	border: 2px solid #DBDCDF;
	background-color: #F3F5F7;
	margin-bottom: 14px;
}

.columStyleVisible {
	font-size: 10px;
	color: #434A58;
	font-family: Arial;
	background: none;
	border-style: none
}

.tableAlias {
	font-size: 12px !important;
	font-weight: bold !important;
	color: #0078d2 !important;
}

.tableValue {
	font-size: 16px !important;
	font-weight: bold !important;
	color: #434A58 !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.tableAvaila {
	font-size: 10px !important;
	color: #71777f !important;
}

.tableNumberC {
	display: block !important;
	font-size: 11px !important;
	margin-bottom: -8px !important;
	margin-top: -8px !important;
	color: #71777f !important;
}

.tableName {
	font-size: 11px !important;
	font-weight: bold !important;
	color: #71777f !important;
}

.tooltip-inner {
	bottom: 0px !important;
}

.mistake-operation {
	background-image: url("../img/errorSymbol.png");
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 23px;
	padding-left: 20px;
	width: 71%;
	padding-right: 28px;
	padding-left: 20px;
}

@media ( max-width : 768px) {
	.mistake-operation {
		padding-right: 31px;
		width: 80%;
	}
}